* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-style: italic;
  line-height: 1.4;
}
.container {
  width: 825px;
  margin: 50px auto;
}

.product {
  border: 4px solid black;
}

.product_title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f5f5f5;
  padding: 15px;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.more_info:link,
.more_info:visited {
  color: black;
}

.more_info:hover,
.more_info:active {
  text-decoration: none;
}

.details_title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}
.details_list {
  list-style: square;
  margin-left: 20px;
}

.add_cart {
  background-color: black;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  border-top: 4px solid black;
  /*border-bottom: 1px solid black;*/
  width: 100%;
  padding: 15px;
}
.add_cart:hover {
  color: black;
  background-color: white;
}
li {
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 2px;
}

p {
  margin-bottom: 10px;
}
